/*<meta />*/

@media print 
{
	/* Micro content skin styles */

	.micro-content-truncated-mode .micro-response
	{
		overflow: hidden !important;
	}

	/* Hide Toolbar Topic proxy ans eLearning Toolbar proxy by default */

	.buttons
	{
		display: none;
	}

	/* Menu styles */

	ul.menu
	{
		display: none;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li .auto-result-remove
	{
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchTopics.mc-component .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.search-bar._Skins_SearchTopics.mc-component
	{
		
	}

	.search-bar._Skins_SearchTopics.mc-component .search-field
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchTopics.mc-component .search-filter
	{
		background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
	}

	.search-bar._Skins_SearchTopics.mc-component .search-filter-wrapper.open
	{
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	.search-bar._Skins_SearchTopics.mc-component .search-filter:hover
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchTopics.mc-component .search-filter.selected
	{
		background: transparent url('Images/Filter.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/Filter.png') no-repeat center center;
	}

	._Skins_SearchTopics.mc-component .search-filter-content
	{
		background-color: #ffffff;
	}

	._Skins_SearchTopics.mc-component .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_SearchTopics.mc-component .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	.search-bar.search-bar-container._Skins_SearchTopics.mc-component .search-submit
	{
		background: #7469b9 url('Images/SearchIcon.png') no-repeat center center;
		-pie-background: #7469b9 url('Skins/Default/Stylesheets/Components/Images/SearchIcon.png') no-repeat center center;
	}

	.search-bar.search-bar-container._Skins_SearchTopics.mc-component .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: #7469b9;
	}

	.buttons._Skins_TopicToolbar.mc-component
	{
		display: none;
	}

	._Skins_TopicToolbar.mc-component .button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button .button-icon-wrapper
	{
		
	}

	._Skins_TopicToolbar.mc-component .button .button-text
	{
		
	}

	._Skins_TopicToolbar.mc-component .button.collapse-all-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.edit-user-profile-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.expand-all-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.login-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.next-topic-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.previous-topic-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.print-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.remove-highlight-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.select-language-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.select-skin-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolbar.mc-component .button.topic-ratings-button
	{
		background: transparent url('Images/star-full.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/star-full.png') no-repeat center center;
		background-size: 16px 16px;
	}

	._Skins_TopicToolbar.mc-component .button.topic-ratings-empty-button
	{
		background: transparent url('Images/star-empty.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/star-empty.png') no-repeat center center;
		background-size: 16px 16px;
	}

	._Skins_TopicToolbar.mc-component .toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolbar.mc-component .toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolbar.mc-component .toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_TopicToolbar.mc-component .toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolbar.mc-component .toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_TopicToolbar.mc-component .button-separator
	{
		
	}

	ul.menu._Skins_SideMenu.mc-component
	{
		display: none;
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component a
	{
		
	}

	ul.menu._Skins_SideMenu.mc-component li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component li > a.selected
	{
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component li > a:hover
	{
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component li > a.selected:hover
	{
		background-color: transparent;
	}

	._Skins_SearchHome.mc-component .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li .auto-result-remove
	{
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.search-bar._Skins_SearchHome.mc-component
	{
		
	}

	.search-bar._Skins_SearchHome.mc-component .search-field
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter
	{
		background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter-wrapper.open
	{
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter:hover
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter.selected
	{
		background: transparent url('Images/Filter.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/Filter.png') no-repeat center center;
	}

	._Skins_SearchHome.mc-component .search-filter-content
	{
		background-color: #ffffff;
	}

	._Skins_SearchHome.mc-component .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_SearchHome.mc-component .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	.search-bar.search-bar-container._Skins_SearchHome.mc-component .search-submit
	{
		background: #ffffff url('Images/SearchIcon.png') no-repeat center center;
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/SearchIcon.png') no-repeat center center;
	}

	.search-bar.search-bar-container._Skins_SearchHome.mc-component .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	._Skins_SearchResults.mc-component .featured-snippets-container
	{
		
	}

	._Skins_SearchResults.mc-component #knowledge-panel
	{
		
	}

	._Skins_SearchResults.mc-component #search-results-flex
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-phrase span
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-phrase
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-title a
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-title
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-title a:visited
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-title a:focus
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-title a:hover
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-title a:active
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-url cite
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-response-url
	{
		
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content
	{
		background-position: center center;
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .knowledge-panel-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	._Skins_SearchResults.mc-component #resultList .glossary .definition
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .glossary
	{
		background-position: center center;
	}

	._Skins_SearchResults.mc-component #resultList .glossary .term
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .glossary .term a
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .glossary .term a:visited
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .glossary .term a:focus
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .glossary .term a:hover
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .glossary .term a:active
	{
		
	}

	._Skins_SearchResults.mc-component h1#results-heading
	{
		
	}

	._Skins_SearchResults.mc-component #results-heading
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-phrase span
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-phrase
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container.micro-content-truncated-mode .micro-response
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_SearchResults.mc-component .featured-snippets-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-title a
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-title
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-title a:visited
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-title a:focus
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-title a:hover
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-title a:active
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-url cite
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-response-url
	{
		
	}

	._Skins_SearchResults.mc-component .featured-snippets-container .micro-content
	{
		background-position: center center;
	}

	._Skins_SearchResults.mc-component #pagination
	{
		
	}

	._Skins_SearchResults.mc-component #pagination a
	{
		
	}

	._Skins_SearchResults.mc-component #pagination a:hover
	{
		
	}

	._Skins_SearchResults.mc-component #pagination a#selected
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .description
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .gs-snippet
	{
		
	}

	._Skins_SearchResults.mc-component #resultList h3.title a
	{
		
	}

	._Skins_SearchResults.mc-component #resultList h3.title
	{
		
	}

	._Skins_SearchResults.mc-component #resultList h3.title a:visited
	{
		
	}

	._Skins_SearchResults.mc-component #resultList h3.title a:focus
	{
		
	}

	._Skins_SearchResults.mc-component #resultList h3.title a:hover
	{
		
	}

	._Skins_SearchResults.mc-component #resultList h3.title a:active
	{
		
	}

	._Skins_SearchResults.mc-component #resultList .url cite
	{
		
	}

	._Skins_SearchResults.mc-component #resultList
	{
		
	}

	._Skins_SearchResults.mc-component .phrase-suggest
	{
		
	}

	._Skins_SearchResults.mc-component .phrase-suggest a
	{
		
	}
}

